body{
    background-color: darksalmon;
}

h1{
    color: crimson;
    font-family: 'Archivo Black', sans-serif;
font-family: 'Bebas Neue', sans-serif;
text-align: center;
}

.caja-1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.caja-2{
    display: flex;
    justify-content: center;
    align-items: center;
}